img.cv {
  max-width: 100%;
  height: auto;
  margin-top: 50px;
}

a {
    text-decoration: none;
    color: black;
  }

a:hover {
 color: #616161;
 text-decoration: none;
}

h2.footer {
    color: white;
}

.form {
  color: white;
}

input.button {
    background-color: #271fe5;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: white;
}

input[type="text"] {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 350px;
}

input.med {
    padding: 22px;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 120px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 50%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.bilder {
    margin-top: 90px;
    margin-left: 25px;
}

.pic {
 max-width: 150px;
}

.column {
    margin-left: 30px;
}

img#expandedImg {
    margin-top: 30px;
    max-width: 200px;
}

div#imgtext {
    margin-left: 30px;
}